NTI_USERNAME = "changeme"
NTI_PASSWORD = "changeme"
MYSQL_DATABASE = "environment_display"
MYSQL_USER = "environment_display"
MYSQL_PASSWORD = "changeme"
MYSQL_HOST = "localhost"  # "db" for production in Docker
MYSQL_PORT = 3306